body.format-progresstopics {
  .progresswarning {
    color: red;
    font-size: 0.7em;
  }

  .progresspendingwarning {
    color: lightskyblue;
    font-size: 0.7em;
  }


  // -- vars
  $default-size: 6em;
  $progress-bar-color: #1abc5b;
  $label-font-size: $default-size / 6;
  $label-font-size-redo: $default-size;

  .progresssection {
    width: 100%;
    height: $default-size;
    text-align: justify;
  }

  .dummy-2 {
    display: inline-block;
    width: 0;
  }

  .dummy {
    display: inline-block;
    width: 100%;
  }

  // -- mixins
  @mixin size($width, $height) {
    height: $height;
    width: $width;
  }

  @mixin draw-progress($progress) {
    .pie {
      .half-circle {
        border-color: $progress-bar-color;
      }

      .left-side {
        transform: rotate($progress * 3.6deg);
      }

      @if $progress <= 50 {
        .right-side {
          display: none;
        }
      } @else {
        clip: rect(auto, auto, auto, auto);

        .right-side {
          transform: rotate(180deg);
        }
      }
    }
  }

  .pie-wrapper {
    @include size($default-size, $default-size);
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    display: inline-block;

    &:nth-child(3n + 1) {
      clear: both;
    }

    .pie {
      @include size(100%, 100%);
      clip: rect(0, $default-size, $default-size, $default-size / 2);
      left: 0;
      position: absolute;
      top: 0;

      .half-circle {
        @include size(100%, 100%);
        border: ($default-size / 10) solid #3498db;
        border-radius: 50%;
        clip: rect(0, $default-size / 2, $default-size, 0);
        left: 0;
        position: absolute;
        top: 0;
      }
    }

    .label {
      border-radius: 50%;
      color: #7f8c8d;
      cursor: default;
      display: block;
      font-size: $label-font-size;
      top: $label-font-size;
      left: $label-font-size;
      right: $label-font-size;
      bottom: $label-font-size;
      line-height: $label-font-size-redo * .70;
      position: absolute;
      text-align: center;
    }

    .shadow {
      @include size(100%, 100%);
      border: $default-size / 10 solid #bdc3c7;
      border-radius: 50%;
    }

    @for $i from 1 through 100 {
      &.progress-#{$i} {
        @include draw-progress(#{$i});
      }
    }
  }
}